/* Theme: Business Cash Flow */

/***** Fonts *****/

/* These can be loaded according to organisation brand */
/* They can then be assigned to the appropriate '--wa-font-family' types identified below */
@font-face {
  font-family: 'GT Ultra Median Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/GT-Ultra-Median-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'GT Ultra Standard Light';
  font-style: normal;
  font-weight: 300; /* Light */
  src: url('/fonts/GT-Ultra-Standard-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'GT Ultra Standard Regular';
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url('/fonts/GT-Ultra-Standard-Regular.woff2') format('woff2');
}


/***** Variables *****/
:root {

    /* Font Assignments */
    --ob-font-family-heading:"GT Ultra Median Regular";
    --ob-heading-font:"GT Ultra Standard Regular";
    --ob-font-family-body:"GT Ultra Standard Light";

    --wa-font-family-heading:var(--ob-font-family-heading);
    --wa-font-family-body:var(--ob-font-family-body);

    /* Named Theme Colors */
    /* These can be named according to organisation brand */
    /* They can then be assign to the appropriate components identified below */

    --white: #FFFFFF;
    --black: #000000;
    --racing-green:#024731;
    --heritage-green:#006A4D;
    --everyday-green:#11B67A;
    --vibrant-green:#6CF479;
    --calm-green:#C7FFC6;
    --highlight-green:#0BE248;
    --light-grey:#F1F1F1;
    --grey:#C3C3C3;
    --dark-grey:#808080;
    --charcoal:#323233;
    --autumn-orange:#F4B476;
    --spring-yellow:#DFE16F;
    --cloud-blue:#A8BACD;
    --lavender:#A19FF8;
    --meadow-pink:#EBB5EE;
    --mist-blue:#ADE5DE;

    /* Theme Color - This is the color below the status bar on mobile (iOS, Android) and Chrome Tab tint */
    --ob-theme-color: var(--everyday-green);

    /* Main */
    --ob-color-surface-main:var(--light-grey);

    /* Header */
    --ob-color-surface-header:var(--everyday-green);
    --ob-filter-surface-header:none;
    --ob-color-on-surface-header: var(--black);
    --ob-height-header-logo:var(--wa-font-size-3xl);
    --ob-color-on-surface-header-icon: var(--black);
    --ob-font-size-header-icon: var(--wa-font-size-xl);

    --ob-padding-header: var(--wa-space-s) var(--wa-space-m);

    --ob-font-size-header: var(--wa-font-size-xl);

    /* Section */
    --ob-space-section: var(--wa-space-s) var(--wa-space-s);
    --ob-gap-section: var(--wa-space-m);

    /* Card */
    --ob-color-surface-card:var(--white);
    --ob-border-radius-card:var(--wa-border-radius-l);
    --ob-padding-card: var(--wa-space-m) var(--wa-space-m);
    --ob-color-surface-emblem:var(--calm-green);
    --ob-color-on-surface-emblem:var(--black);
    --ob-color-on-surface-emblem:var(--black);
    --ob-border-radius-card-button:var(--wa-border-radius-m);
    --ob-color-surface-card-button:var(--charcoal);
    --ob-color-on-surface-card-button:var(--white);

}
