/* OB Theme Fonts */

/* These can be loaded according to organisation brand */
/* They can then be assigned to the appropriate '--wa-font-family' types identified below */

@font-face {
  font-family: 'GT Ultra Median Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/GT-Ultra-Median-Regular.woff2') format('woff2'),
       url('/fonts/GT-Ultra-Median-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GT Ultra Standard Light';
  font-style: normal;
  font-weight: 300; /* Light */
  src: url('/fonts/GT-Ultra-Standard-Light.woff2') format('woff2'),
       url('/fonts/GT-Ultra-Standard-Light.woff') format('woff');
}

@font-face {
  font-family: 'GT Ultra Standard Regular';
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url('/fonts/GT-Ultra-Standard-Regular.woff2') format('woff2'),
       url('/fonts/GT-Ultra-Standard-Regular.woff') format('woff');
}



:root {

    /* OB Theme Font Assignments */
    --ob-font-family-heading:"GT Ultra Median Regular";
    --ob-heading-font:"GT Ultra Standard Regular";
    --ob-font-family-body:"GT Ultra Standard Light";

    --wa-font-family-heading:var(--ob-font-family-heading);
    --wa-font-family-body:var(--ob-font-family-body);


    /* OB Theme Properties */

    /* Named Theme Colors */

    /* These can be named according to organisation brand */
    /* They can then be assign to the appropriate components identified below */

    --white: #FFFFFF;
    --black: #000000;
    --racing-green:#024731;
    --heritage-green:#006A4D;
    --everyday-green:#11B67A;
    --vibrant-green:#6CF479;
    --calm-green:#C7FFC6;
    --highlight-green:#0BE248;
    --light-grey:#F1F1F1;
    --grey:#C3C3C3;
    --dark-grey:#808080;
    --charcoal:#323233;
    --autumn-orange:#F4B476;
    --spring-yellow:#DFE16F;
    --cloud-blue:#A8BACD;
    --lavender:#A19FF8;
    --meadow-pink:#EBB5EE;
    --mist-blue:#ADE5DE;

    /* Theme Color - This is the color below the status bar on mobile (iOS, Android) and Chrome Tab tint */
    --ob-theme-color: var(--everyday-green);

    /* Main */
    --ob-color-surface-main:var(--light-grey);

    /* Header */
    --ob-color-surface-header:var(--everyday-green);
    --ob-color-on-surface-header: var(--black);
    --ob-color-surface-header-logo-size:var(--wa-font-size-3xl);
    --ob-color-on-surface-header-icon: var(--black);
    --ob-color-on-surface-header-icon-size: var(--wa-font-size-xl);

    --ob-padding-header: var(--wa-space-s) var(--wa-space-m);

    --ob-font-size-header: var(--wa-font-size-xl);

    /* Section */
    --ob-space-section: var(--wa-space-s) var(--wa-space-s);
    --ob-gap-section: var(--wa-space-m);

    /* Card */
    --ob-color-surface-card:var(--white);
    --ob-border-radius-card:var(--wa-border-radius-l);
    --ob-padding-card: var(--wa-space-m) var(--wa-space-m);
    --ob-color-surface-emblem:var(--calm-green);

}

/* Font Size Utilities */ 
.font-size-2xs {font-size:var(--wa-font-size-2xs);}
.font-size-xs {font-size:var(--wa-font-size-xs);}
.font-size-s {font-size:var(--wa-font-size-s);}
.font-size-m {font-size:var(--wa-font-size-m);}
.font-size-l {font-size:var(--wa-font-size-l);}
.font-size-xl {font-size:var(--wa-font-size-xl);}
.font-size-2xl {font-size:var(--wa-font-size2xl);}

/* Body */
body {
    background-color:var(--ob-color-surface-main);
}

/* Header */
header {
	position:sticky;
	z-index:1;
	top:0;
	background-color:var(--ob-color-surface-header); 
	color:var(--ob-color-on-surface-header);
	padding: var(--ob-padding-header);
	overflow:hidden;
	box-shadow: 0 8px 20px rgb(var(--shadow-color) / 5%);

    h1 {
        font-size: var(--ob-font-size-header);
    }
	
	img {
		height:var(--ob-color-surface-header-logo-size);
        width:var(--ob-color-surface-header-logo-size);
        aspect-ratio:1/1;
	}
	
    wa-button {
		&:is(:hover, :focus-visible)::part(base) {
            background-color: var(--wa-color-neutral-alpha-10);
        }

        &:is(:active)::part(base) {
            background-color: var(--wa-color-neutral-alpha-20);
        }
		
	    wa-icon {
            font-size:var(--ob-color-on-surface-header-icon-size); 
            color:var(--ob-color-on-surface-header-icon);
        }
	}
}

/* Section */
section {
    padding: var(--ob-space-section);
    gap:var(--ob-gap-section);
}

/* Card */
wa-card {
	background:var(--ob-color-surface-card);
	box-shadow: 0 8px 20px rgb(var(--shadow-color) / 5%);
	border-radius:var(--ob-border-radius-card);
	&::part(body) {
		padding:var(--ob-padding-card);
    }

    wa-avatar.emblem {
        background:var(--ob-color-surface-emblem);
    }
}

