/* Custom Fonts */
@font-face {
  font-family: 'GT Ultra Median Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/GT-Ultra-Median-Regular.woff2') format('woff2'),
       url('/fonts/GT-Ultra-Median-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GT Ultra Standard Light';
  font-style: normal;
  font-weight: 300; /* Light */
  src: url('/fonts/GT-Ultra-Standard-Light.woff2') format('woff2'),
       url('/fonts/GT-Ultra-Standard-Light.woff') format('woff');
}

@font-face {
  font-family: 'GT Ultra Standard Regular';
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url('/fonts/GT-Ultra-Standard-Regular.woff2') format('woff2'),
       url('/fonts/GT-Ultra-Standard-Regular.woff') format('woff');
}

:root {
    /* Custom Colors */
    --white: #FFFFFF;
    --black: #000000;
    --racing-green:#024731;
    --heritage-green:#006A4D;
    --everyday-green:#11B67A;
    --vibrant-green:#6CF479;
    --calm-green:#C7FFC6;
    --highlight-green:#0BE248;
    --light-grey:#F1F1F1;
    --grey:#C3C3C3;
    --dark-grey:#808080;
    --charcoal:#323233;
    --autumn-orange:#F4B476;
    --spring-yellow:#DFE16F;
    --cloud-blue:#A8BACD;
    --lavender:#A19FF8;
    --meadow-pink:#EBB5EE;
    --mist-blue:#ADE5DE;	

    /* Fonts */
    --wa-font-family-heading:"GT Ultra Median Regular";
    --heading-font:"GT Ultra Standard Regular";
    --wa-font-family-body:"GT Ultra Standard Light";

    /* Theme */
    --theme-color: var(--everyday-green);

    /* Main */
    --wa-color-surface-main:var(--light-grey);

    /* Header */
    --wa-color-surface-header:var(--everyday-green);
    --wa-color-on-surface-header: var(--black);
    --wa-color-surface-header-logo-size:var(--wa-font-size-3xl);
    --wa-color-on-surface-header-icon: var(--black);
    --wa-color-on-surface-header-icon-size: var(--wa-font-size-xl);

    --wa-space-header: var(--wa-space-s) var(--wa-space-m);

    --wa-font-size-header: var(--wa-font-size-xl);

    /* Section */
    --wa-space-section: var(--wa-space-s) var(--wa-space-s);
    --wa-gap-section: var(--wa-space-m);





}

/* Font Size Utilities */ 
.font-size-2xs {font-size:var(--wa-font-size-2xs);}
.font-size-xs {font-size:var(--wa-font-size-xs);}
.font-size-s {font-size:var(--wa-font-size-s);}
.font-size-m {font-size:var(--wa-font-size-m);}
.font-size-l {font-size:var(--wa-font-size-l);}
.font-size-xl {font-size:var(--wa-font-size-xl);}
.font-size-2xl {font-size:var(--wa-font-size2xl);}

/* Body */
body {
    background-color:var(--wa-color-surface-main);
}

/* Header Layout */
header {
	position:sticky;
	z-index:1;
	top:0;
	background-color:var(--wa-color-surface-header); 
	color:var(--wa-color-on-surface-header);
	padding: var(--wa-space-header);
	overflow:hidden;
	box-shadow: 0 8px 20px rgb(var(--shadow-color) / 5%);

    h1 {
        font-size: var(--wa-font-size-header);
    }
	
	img {
		height:var(--wa-color-surface-header-logo-size);
        width:var(--wa-color-surface-header-logo-size);
        aspect-ratio:1/1;
	}
	
    wa-button {
		&:is(:hover, :focus-visible)::part(base) {
            background-color: var(--wa-color-neutral-alpha-10);
        }

        &:is(:active)::part(base) {
            background-color: var(--wa-color-neutral-alpha-20);
        }
		
	    wa-icon {
            font-size:var(--wa-color-on-surface-header-icon-size); 
            color:var(--wa-color-on-surface-header-icon);
        }
	}
}

section {
    padding: var(--wa-space-section);
    gap:var(--wa-gap-section);
}